@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    font-family: 'Poppins', sans-serif; 
}

.resume:hover{
    background-color: rgb(223, 227, 230)
}

.resume{
    outline: none;
    border: none;
    background-color: none;
}

@media screen and (max-width : 480px) {
    .my-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-weight: 600;
        font-stretch: expanded;
        height: 80vh;
        align-items: center;
    }

    .myphoto {
        height: 22rem;
        width: 22rem;
    }

    .about-me-para {
        font-weight: 400;
        font-size: large;
    }

    .about {
        width: 100%;
    }

    .connect-items {
        margin-top: 2rem;
    }

    .contact > ul {
        list-style-type: none;
    }

    .tech-items {
        display: grid;
    }

    .tech-item {
        display: flex;
        flex-direction: row;
        height: 95%;
        width: 100%;
        margin-left: 4rem;
        margin-top: 1.7rem;
    }

    .tech-name {
        margin-left: 0.8rem;
        display: flex;
        font-size: 1.4rem;
    }

    .company-name, .college {
        display: flex;
        flex-direction: column;
    }

    .tech-image {
        height: 2.3rem;
        width: 2.3rem;
        margin-right: 0.8rem;
    }
    
    img {
        height: 100%;
        width: 100%;
    }
    
    body {
        background-color: rgb(253, 246, 246);
    }

    a {
        text-decoration: none;
        margin-left: 1.4rem;
        font-size: medium;
    }

    .time-position {
        margin-left: 1.4rem;
    }

    .contact {
        margin-top: 4rem;
    }

    .tech-stack {
        margin-top: 4rem ;
    }

    .experience {
        margin-top: 4rem ;
    }

    .education {
        margin-top: 4rem ;
    }

    .project {
        margin-top: 2rem;
    }

    .project-details {
        margin-top: 4rem ;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width : 481px) {
    h1 {
        font-size: 4rem;
    }

    .my-info {
        display: flex;
        justify-content: space-evenly;
        height: 90vh;
        align-items: center;
        letter-spacing: 0.2rem;
    }

    .myphoto {
        height: 22rem;
        width: 22rem;
    }

    .about-me-para {
        font-weight: 400;
        font-size: large;
    }

    .about {
        margin-left: 1.4rem;
    }

    .connect-heading {
        margin-left: 1.4rem;
    }

    .connect-items {
        margin-top: 2rem;
    }

    .connect-item {
        margin-right: 1.2rem;
    }

    .contact > ul {
        list-style-type: none;
    }

    .company-name, .college {
        display: flex;
        flex-direction: row;
    }

    .tech-items {
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: repeat(2, 5rem);
        justify-content: space-between;
        align-content: space-around;
    }

    .tech-image {
        height: 2rem;
        width: 2.1rem;
        margin-right: 0.8rem;
        margin-left: 1.2rem;
    }
    
    .tech-name {
        margin-left: 0.8rem;
        align-items: center;
        text-align: center;
        font-size: larger;
    }

    img {
        height: 100%;
        width: 100%;
    }
    
    body {
        background-color: rgb(253, 246, 246);
    }
    
    .tech-item {
        display: flex;
        flex-direction: row;
        height: 95%;
        width: 100%;
        align-items: center;
    }

    a {
        text-decoration: none;
        margin-left: 1.4rem;
        font-size: large;
    }

    .contact {
        margin-top: 4rem;
    }

    .tech-stack {
        margin: 4rem 2rem;
    }

    .experience {
        margin: 0 0 4rem 2rem;
    }

    .education {
        margin: 0 0 4rem 2rem;
    }

    .project {
        margin-top: 2rem;
    }

    .project-details {
        margin: 0 0 4rem 2rem;
    }
}

.name {
    letter-spacing: 0.2rem;
}
.gap {
    margin-bottom: 6rem;
    font-size: larger;
}


