@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    font-family: 'Poppins', sans-serif; 
}

@media screen and (max-width : 480px) {
    .my-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-weight: 600;
        font-stretch: expanded;
        height: 80vh;
        align-items: center;
    }

    .myphoto {
        height: 22rem;
        width: 22rem;
    }

    .about-me-para {
        font-weight: 400;
        font-size: large;
    }

    .about {
        width: 100%;
    }

    .connect-items {
        margin-top: 2rem;
    }

    .contact > ul {
        list-style-type: none;
    }

    .tech-items {
        display: grid;
    }

    .tech-item {
        display: flex;
        flex-direction: row;
        height: 95%;
        width: 100%;
        margin-left: 50px;
        margin-top: 20px
    }

    .tech-name {
        margin-left: 10px;
        margin-right: 75px;
        align-items: center;
        text-align: center;
        font-size: larger;
    }

    .tech-name-text {
        margin-bottom: 10px;
    }

    .company-name, .college {
        display: flex;
        flex-direction: column;
    }

    .tech-image {
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }
    
    img {
        height: 100%;
        width: 100%;
    }
    
    body {
        background-color: rgb(253, 246, 246);
    }

    a {
        text-decoration: none;
        margin-left: 30px;
        font-size: medium;
    }

    .time-position {
        margin-left: 30px;
    }

    .contact {
        margin-top: 4rem;
    }

    .tech-stack {
        margin-top: 4rem ;
    }

    .experience {
        margin-top: 4rem ;
    }

    .education {
        margin-top: 4rem ;
    }

    .project {
        margin-top: 2rem;
    }

    .project-details {
        margin-top: 4rem ;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width : 481px) {
    h1 {
        font-size: 4rem;
    }

    .my-info {
        display: flex;
        justify-content: space-evenly;
        height: 90vh;
        align-items: center;
        letter-spacing: 0.2rem;
    }

    .myphoto {
        height: 22rem;
        width: 22rem;
    }

    .about-me-para {
        font-weight: 400;
        font-size: large;
    }

    .about {
        margin-left: 30px;
    }

    .connect-heading {
        margin-left: 30px;
    }

    .connect-items {
        margin-top: 2rem;
    }

    .connect-item {
        margin-right: 20px;
    }

    .contact > ul {
        list-style-type: none;
    }

    .company-name, .college {
        display: flex;
        flex-direction: row;
    }

    .tech-items {
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: repeat(2, 5rem);
        justify-content: space-between;
        align-content: space-around;
    }

    .tech-image {
        height: 35px;
        width: 35px;
        margin-right: 10px;
        margin-left: 20px;
    }
    
    .tech-name {
        margin-left: 10px;
        align-items: center;
        text-align: center;
        font-size: larger;
    }

    img {
        height: 100%;
        width: 100%;
    }
    
    body {
        background-color: rgb(253, 246, 246);
    }
    
    .tech-item {
        display: flex;
        flex-direction: row;
        height: 95%;
        width: 100%;
        align-items: center;
    }

    a {
        text-decoration: none;
        margin-left: 30px;
        font-size: large;
    }

    .contact {
        margin-top: 4rem;
    }

    .tech-stack {
        margin: 4rem 2rem;
    }

    .experience {
        margin: 0 0 4rem 2rem;
    }

    .education {
        margin: 0 0 4rem 2rem;
    }

    .project {
        margin-top: 2rem;
    }

    .project-details {
        margin: 0 0 4rem 2rem;
    }
}

.name {
    letter-spacing: 0.2rem;
}
.gap {
    margin-bottom: 50px;
    font-size: larger;
}


